{% extends 'base.html.twig' %}

{% block title %}Ajouter Theatre{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Ajouter Theatre</h1>

    {{ form_start(addTheatreform) }}
        {{ form_widget(addTheatreform) }}
        <button type="submit" class="btn">Valider</button>
    {{ form_end(addTheatreform) }}

</div>
{% endblock %}
